<div class="container mx-auto my-8">
  <div class="flex justify-start align-middle text-center">
    <button
      *ngIf="isAdmin()"
      (click)="addTask($event)"
      class="p-4 bg-gray-300 transition hover:text-blue-400"
    >
      <span class="text-base">Add New Task</span>
    </button>
    <div class="flex bg-gray-300 p-3 mx-3">
      <select
        type="text"
        *ngIf="isAdmin()"
        (change)="toggleTasks()"
        class="px-4 text-gray-800 transition duration-500 focus:outline-none rounded bg-transparent focus:border-blue-400"
      >
        <option>My Tasks</option>
        <option>All Tasks</option>
      </select>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div
      *ngFor="let task of tasks"
      class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start"
    >
      <div class="p-6 text-3xl bg-gray-200">
        <p class="px-2 py-1 ml-2 text-sm rounded">
          <b> Title:</b> {{ task.name }}
        </p>
        <p class="px-2 py-1 ml-2 text-sm rounded">
          <b> Description:</b> {{ task.description }}
        </p>
        <p class="px-2 py-1 ml-2 text-sm rounded">
          <b> Status:</b> {{ task.status }}
        </p>
      </div>
      <div
        *ngIf="isEditor() || isAdmin()"
        class="flex text-center text-2xl bg-gray-300 p-2 mt-auto"
      >
        <a
          (click)="editTask($event, task)"
          class="flex-1 p-2 transition"
          [ngClass]="{
            'border-right border-r-2 border-gray-700': isAdmin(),
            'hover:text-blue-400': !(task.status === 'done'),
            'cursor-pointer': !(task.status === 'done'),
            'text-gray-400': task.status === 'done'
          }"
        >
          <span class="text-base">Done</span>
        </a>
        <a
          href="#"
          *ngIf="isAdmin()"
          (click)="deleteTask($event, task)"
          class="flex-1 p-2 rounded-br-2xl transition hover:text-blue-400"
        >
          <span class="text-base">Delete</span>
        </a>
      </div>
    </div>
  </div>
</div>
<app-task-form></app-task-form>
