<app-alert *ngIf="showAlert" [color]="alertColor"> {{ alertMsg }} </app-alert>

<form
  class="bg-gray-600 -mx-2 p-2 rounded"
  #loginForm="ngForm"
  (ngSubmit)="login()"
>
  <div class="mb-3">
    <label class="inline-block mb-2 text-gray-200">Email</label>
    <input
      #email="ngModel"
      type="email"
      name="email"
      [(ngModel)]="credentials.email"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-blue-400"
      placeholder="Enter Email"
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
    />
    <p
      *ngIf="email.touched && email.dirty && email.errors"
      class="text-red-400 text-sm"
    >
      email is not correct
    </p>
  </div>
  <div class="mb-3">
    <label class="inline-block mb-2 text-gray-200">Password</label>
    <input
      #password="ngModel"
      type="password"
      name="password"
      [(ngModel)]="credentials.password"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-blue-400"
      placeholder="Enter Password"
      required
    />
    <p
      *ngIf="password.touched && password.dirty && password.errors"
      class="text-red-400 text-sm"
    >
      enter password
    </p>
  </div>
  <button
    type="submit"
    [disabled]="loginForm.invalid || inSubmission"
    class="block w-full disabled:opacity-50 bg-blue-400 text-white py-1.5 px-3 rounded transition hover:bg-blue-500 disabled:bg-blue-300"
  >
    Submit
  </button>
</form>
